# AI Provider Keys
# Get your keys from:
# Gemini: https://aistudio.google.com/app/apikey
# Groq: https://console.groq.com/keys
# NVIDIA NIM: https://build.nvidia.com/
# OpenRouter: https://openrouter.ai/keys

GEMINI_API_KEY=AIzaSyAzlcwQbPFNjbXuimJGIrozKcQw-cCUwAo
GROQ_API_KEY=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
NVIDIA_API_KEY=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
OPENROUTER_API_KEY=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
TAVILY_API_KEY=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

# App Config
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
APP_URL=http://localhost:3000
